version: '3.8'

services:
  react-app:
    image: docker-react-app:v1
    container_name: react-app
    ports:
      - "3000:5173"
    depends_on:
      - db
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]

  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"

  redis:
    image: redis:latest
    container_name: redis-cache
    restart: always
    ports:
      - "6379:6379"
